<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>动画</title>
  <link rel="stylesheet" href="../css/reset.css">
  <style>
    @keyframes myfirst {
      from {
        opacity: 0;
        transform: translate(0, 100%)
      }

      to {
        opacity: 1;
        transform: translate(0, 0)
      }
    }

    .text_sliceUp {
      position: relative;
      top: 100px;
      left: 0;
      /* left: 0; */
      /* top: 50%; */
      /* transform: translate(0, 100%); */
      /* animation: myfirst 1.5s; */
      opacity: 0;
    }
  </style>
</head>

<body style="font-size: 14px;">

  <div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div class="text_sliceUp" style="width: 100px;height: 100px;background-color: blueviolet;"></div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div class="text_sliceUp" style="width: 100px;height: 100px;background-color: blueviolet;"></div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div class="text_sliceUp" style="width: 100px;height: 100px;background-color: blueviolet;"></div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
    <div>111</div>
  </div>


  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="../js/rem.js"></script>

  <script>

    function move(n, name) {
      $(name).css("transform", `translate(0, ${n}%)`);
      // $(name).css("top", `${n}%`);
      n--
      console.log(n)
      if (n < 50) {
        clearInterval(stop)
      } else {
        clearInterval(stop)
        stop = setInterval(move(n, name), 10000)
      }
    }

    // 滑到相应的位置的时候出现的字体
    function ChangeColor(index) {

      let text_sliceUp = $('.text_sliceUp')

      for (let i = 0; i < text_sliceUp.length; i++) {
        if (index <= $(text_sliceUp[i]).offset().top + 100 && index >= $(text_sliceUp[i]).offset().top - 0) {

          $(text_sliceUp[i]).animate({top:0+'px',opacity:1,filter:'Alpha(opacity=90)'},500);

        }
      }

    }


    function getScrollTop() {
      var scrollTop = 0;
      if (document.documentElement && document.documentElement.scrollTop) {
        scrollTop = document.documentElement.scrollTop;
      } else if (document.body) {
        scrollTop = document.body.scrollTop;
      }
      var windowHeight = $(this).height();
      // console.log(scrollTop)
      // console.log(windowHeight)
      ChangeColor(scrollTop + windowHeight)
    }
    document.onscroll = function () {
      getScrollTop()
    }


  </script>


</body>

</html>