<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>购物车</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/cars.css">
  <link rel="stylesheet" href="../icon/iconfont.css">
</head>

<body>
  <div class="main">

    <div class="car">
      选择蔬菜：
      <ul class="toChoose">
        <li><span class="iconfont icon-weixuanzhong"></span>大白菜</li>
        <li><span class="iconfont icon-weixuanzhong"></span>发菜</li>
        <li><span class="iconfont icon-weixuanzhong"></span>南瓜</li>
        <li><span class="iconfont icon-weixuanzhong"></span>青瓜</li>
        <li><span class="iconfont icon-weixuanzhong"></span>番茄</li>
      </ul>
      <div></div>
      <ul class="allChoose">
        <li><span class="iconfont icon-weixuanzhong"></span>全部选择</li>
        <!-- <li><span class="iconfont icon-weixuanzhong"></span>全部不选择</li> -->
      </ul>
    </div>
    <div>
  

  </div>

  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="../js/cars.js"></script>

  <script>
    cars.init()
  </script>

</body>

</html>