<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>对话框</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/dialogBox.css">
</head>

<body style="background-color: #f1f1f1;">

  
  <div class="item">
    <div class=" follow">
      <span>你好</span>
      <div class="arrow_box">
        欢迎
      </div>
    </div>
  </div>
  <div class="item">
    <div class=" follow">
      <span>你好</span>
      <div class="arrow_box_right">
        欢迎
      </div>
    </div>
  </div>
  <div class="item">
    <div class=" follow">
      <span>你好</span>
      <div class="arrow_box_right">
        欢迎
      </div>
    </div>
  </div>

  <script src="../js/jquery-1.7.2.min.js"></script>
  <script src="../js/component.js"></script>


</body>

</html>