<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>转盘</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/randomGun.css">
</head>

<body>
  <div class="randomGun">
    <ul class="box">
      <li class="box1">京东E卡</li>
      <li class="box2">话费2元</li>
      <li class="box3">星礼卡50元</li>

      <li class="box8">话费10元</li>
      <li class="box9">点击抽奖活动</li>
      <li class="box4">滴滴快车5元快车卷</li>

      <li class="box7">腾讯视频月卡</li>
      <li class="box6">谢谢参与</li>
      <li class="box5">京东E卡50元</li>
    </ul>
  </div>
</body>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="../js/randomGun.js"></script>
<script>
  randomGun.init()
</script>

</html>